<a uib-dropdown-toggle data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul uib-dropdown-menu>
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('SKC')" data-ng-class="{active: currency.symbol == 'SKC'}">SKC</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mSKC')" data-ng-class="{active: currency.symbol == 'mSKC'}">mSKC</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uSKC')" data-ng-class="{active: currency.symbol == 'uSKC'}">uSKC</a>
  </li>
</ul>

